.select-button {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  width: 210px;
  height: 60px;
  line-height: 60px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  transition: box-shadow 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 1px;

  &:first-child {
    border-radius: 6px 0 0 6px;
  }

  &:last-child {
    border-radius: 0 6px 6px 0;
  }

  &:hover {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.50);
    transition: box-shadow 0.3s;
  }
}

.select-button:active,.select-button.active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.50);
  transition: box-shadow 0.3s, background 0.3s;
  background-color: #03A9F4
}
