input.your-name {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 9px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  width: 550px;
  height: 60px;
  padding: 15px 20px 13px 20px;
  box-sizing: border-box;
  outline: none;
  margin: 0 auto;
  display: block;
}
