.start {
  position: absolute;
  background-image: url('/img/tablet-start-screen-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.start__caption {
  margin: 100px 200px 50px 200px;
  font-family: 'Gochi Hand', cursive;
  font-size: 48px;
}
